.hidden{display:none;}

body{
	overflow-x:hidden;
	margin:0;
	background-color: #ffffff;
	background-image: url("data:image/svg+xml,%3Csvg width='42' height='44' viewBox='0 0 42 44' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='Page-1' fill='none' fill-rule='evenodd'%3E%3Cg id='brick-wall' fill='%23000000' fill-opacity='0.4'%3E%3Cpath d='M0 0h42v44H0V0zm1 1h40v20H1V1zM0 23h20v20H0V23zm22 0h20v20H22V23z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

h2{
	font-family:montserrat, arial;
	color:black;
	font-size:1em;
}
	
h3{
	font-family:montserrat, arial;
	color:#FFB323;
	font-weight:400;
}

p{
	font-family:montserrat, arial;
	font-size:1rem;
	font-weight:500;
}

.lineBreak {
    display: flex;
    align-items: center;
	text-align: center;
	margin:0 auto;
	font-family:Inconsolata, arial;
	font-size:1.5em;
}

/* LINEBREAK ANIMATION */


@keyframes border-spin-linebreak-left{
	0%{ 
		
			border-bottom: 2px solid #25F3CD;
		}
		
		50%{ 
			border-bottom: 2px solid #FFB323;

		}
		100%{ 
			border-bottom: 2px solid #25F3CD;
		}

}

@keyframes border-spin-linebreak-right{
	0%{ 
		
			border-bottom: 2px solid #FFB323;
		}
		
		50%{ 
			border-bottom: 2px solid #25F3CD;

		}
		100%{ 
			border-bottom: 2px solid #FFB323;
		}
}

/* END OF LINEBREAK ANIMATION KEYFRAMES */

.lineBreak>h2{
	color:#25F3CD;
}
.lineBreak>h2>span{
		color:#FFB323;
}


/* linebreak with text in middle - content must be set blank or the breaks dont work */

.lineBreak::before, .lineBreak:after {
    content: '';
    flex: 1 0 0;
    border-bottom: 2px solid black;
}
.lineBreak::before {
	animation:border-spin-linebreak-left 2s infinite;
    margin-right: 5px;
}
.lineBreak::after {
	animation:border-spin-linebreak-right 2s infinite;

    margin-left: 5px;
}

.lineBreakBottom{
    content: '';
    flex: 1 0 0;
    border-bottom: 2px solid black;
}
	
.mainWrapper{
	border-right:5px solid #999;
	border-left:5px solid #999 ;
	text-align:center;
	display:flex;
	flex-flow:row wrap;
	align-items:center;
	justify-content:center;
	box-sizing:border-box;
	margin:0 auto;
	max-width:1200px;
}

/* background between header and footer*/
main{		
	background:white;
}

.mainWrapper > * {
	padding: 10px;
	padding-bottom:0px;
	margin: 0;
	flex:1 100%;
	border-radius:0px;


}

.mainWrapper > .hidden{display:none;}

/* header includes nav menu *** logo block is first link in nav menu *** */

.header{
	border-bottom:5px solid #25F3CD;
	padding:0;
	margin:0;
	width:auto;
	display:flex;
	flex-direction:row wrap;
	justify-content:space-evenly;
	text-align:center;
	flex: 5 1 0px;
	
	background:white;
	
}


/* main nav styling */


.logoBlock img{
	height:auto;
	width:2em;	
	display:inline-block;
	}

.mainNav{
	width:100%;
	display:flex wrap;
	margin-left:20px;
	margin-right:20px;
	}

.links{
	font-family:monserrat, arial;
	list-style:none;
	font-weight:500;
	display:flex;
	flex-direction:flex-start;
	font-size:auto;
	padding:0;

	margin:10px auto;
	
	/* vertical center logo in link list navbar*/
	align-items: center; 
	justify-content: center;
}

.links li a{
	text-decoration:none;
	color:black;
	letter-spacing:2px;

	padding:10px;


}

.links li a:hover{
	border-bottom:2px solid #FFB323;
	color: #25F3CD;

}




.link{
	max-width:relative;
	padding:0;
	margin:0;
	flex-grow:1;

}

/* do not style the logo block logo block is a li */

/* rounded corners only on first li element - open of pill */
.link:nth-child(2){
	/* border-radius:5px 0px 0px 5px; */
	border-right:1px solid black;
}

/* close pill with rounded corners on right side of last li element */
.link:last-child{
	color:black;
	background-color:white;
	/* border-radius:0px 5px 5px 0px; */
	
	border-left:1px solid black;

	
}

/* footer is a row */
.footer{
	padding:0;
	margin:0;
	width:100%;
	border-top:5px solid #FFB323;
	display:flex;
	flex-direction:row wrap;

	position:fixed sticky;	
	max-width:1200px;
	
	height:auto;
	
	background:white;

	overflow:hidden;

}

.footerMenu{
	background:white;
	display:flex wrap;
	width:100%;
	align-content:center;
}

.footerLinks{

	font-family:montserrat, arial;
	list-style:none;
	font-weight:500;
	display:flex;

	
	padding:10px;	
	
	margin-top:10px;
	margin-bottom:10px;
	justify-content:space-evenly;

}

.footerLink{
	display:block;
	max-width:relative;
	padding:0;
	margin:0;
	margin-bottom:-6px;
	flex-grow:1;

}

.footerLink a{
	color:black;
	font-size:.5em;
	text-decoration:none;
}

.footerLink a:hover{
	color:#FFB323;
	border-bottom:solid 2px #111;
}

/* row */
.socialIcons{
	font-family:montserrat;
	list-style:none;

	display:flex;

	padding:10px;

	margin-top:10px;
	margin-bottom:10px;
	justify-content:space-evenly;


}


.socialIcon{

	border:2px solid white;

	border-radius:100%;
	width:relative;
	max-height:relative;
}

.socialIcon svg{
	width:auto;
	height:30px;
	display:block;
	padding:10px;
	fill:#25F3CD;
	z-index:2;
	}

	.socialIcon svg:hover{

		fill:black;
	}

	/*
	.socialIcon svg:hover{
		background:black;
		fill:white;
		}
*/

.copyright{
	
	text-align:center;
	width:100%;
	padding:10px;
	margin:0 auto;
	
	flex: 1 1 30%;

	justify-content: space-evenly center;
	align-items: center;
	align-content: center;

	
	}

	.copyright p{
		padding:10px;
		margin-left:20px;
		font-size:(2em);

		justify-content: center;
		align-items: center;
		align-content: center;
	}

/* general section wrap */

/* hero */

.heroWrap{
	background:white;

	display:flex;
	flex-direction:row;
	justify-content:space-evenly;
	width:100%;
	
	margin-bottom:10px;
	height:auto;
}

/* image is in hero bg */
.hero{
	width:100%;
	display:flex row wrap;
	
	
	font-family:roboto;
	color:black;
	background:url('./images/hero/main.gif') no-repeat scroll center;
	background-size:100%;
	margin:10px;

}

.hero h2{
	color:white;
	font-family:Inconsolata, arial;
	font-size:clamp(2em, 3em, 3.5em);
	font-weight:1000;


	text-transform:uppercase;

	justify-content:center;
	align-content:center;
	
	-webkit-text-stroke-width: 2px;
	-webkit-text-stroke-color: black;
}

.hero h3{
	color:white;
	font-weight:1000;
	font-size:20px;
	text-transform: uppercase;
	background:black;
}



/*main articles*/
.articles{
	display:flex;
	flex-direction:row;
	justify-content:space-evenly;
	margin-bottom:10px;
	background:white;
}

.article{
	padding:10px;
	margin:10px;
	display:block;
	position:relative;
	background:#111;
	/* set items at 0 baseline and allow to grow */
	flex: 1 1 0px;
	
	/* background: rgb(228,228,228);
	background: linear-gradient(45deg, rgba(228,228,228,1) 0%, rgba(255,255,255,1) 55%, rgba(228,228,228,1) 100%);
	*/
}

/*other article components*/
.article>img{
	max-width:100%;
	border:solid white 2px;
	}

.article>h2{
	font-size:1.5em;
	text-align:left;
	margin-left:10px;
	margin-bottom:0;
	align-content:center;
	justify-content:center;
	text-transform: uppercase;
	color:#25F3CD;
	line-height: 10px;
}

.article>h2>span, .lineBreak>h2>span{
	color:#FFB323;
	
}

.article>p{
	text-align:left;
	margin-bottom:15%;
	max-height:relative;
	padding-bottom:25px;
	padding-right:10px;
	padding-left:10px;
	color:white;

}

/* skip nth-child 1 = hidden section heading is #1 child*/
.article:nth-child(2), .article:nth-child(2)>img{

	order:1;
}

.article:nth-child(3), .article:nth-child(3)>img{
	order:2;
}

.article:nth-child(4), .article:nth-child(4)>img{

	order:3;
}

/* content bock */

.contentBlock{
	width:100%;
	height:100%;
	display:flex row wrap;
	font-family:roboto;
	color:black;
	background:white;
	margin:10px;
}

.contentBlock h2{
	font-size:3em;
	color:#25F3CD;

	margin-left:20px;

	text-align:left;
	text-transform: uppercase;
}

.contentBlock h3{
	font-size:2em;
	color:#FFB323;
	margin-left:25px;
	margin-bottom:0px;
	text-align:left;
}

.contentBlock p{
	padding:20px;
	text-align:left;
}

/* read more link in articles */

.readMore{

	list-style:none; 
	text-align:right;
	position:absolute;
	bottom:20px;
	right:20px;
	text-transform: uppercase;
}

.readMore>a{

	font-family:montserrat, arial;
	text-decoration:none;
	color:white;
	font-weight:700;
	text-decoration:uppercase;
	background-color:black;
	border:black solid 2px;
	padding:5px;
}

.readMore>a:hover{

	color:black;

	background-color:white;

}

/* animations */

@keyframes rotateLeft{
	0%{
	transform:rotate(0);
	}
	
	10%{
		transform:rotate(-5deg);
	}
	
	25%{transform:rotate(-40deg);}
	
	50%{
	transform:rotate(340deg);
	}
	
	75%{transform:rotate(-3deg);}
	
	100%{
	transform:rotate(0);
	}
}

@keyframes boxer{
	0%{transform:translatex(-25%)scale(1);}
	10%{transform:translatex(-25%)scale(1);}	
	50%{transform:translatex(45%)scale(.5);}
	100%{transform:translatex(-25%)scale(1);}
}

@keyframes border-spin {
    0%{ 
	border-top:2px solid #25F3CD;
	border-right:2px solid #25F3CD;
	border-left:2px solid #FFB323;
	border-bottom:2px solid #FFB323;	
	}
    50%{ 
	border-top:2px solid #FFB323;
	border-right:2px solid #FFB323;
	border-left:2px solid #25F3CD;
	border-bottom:2px solid #25F3CD;
	}
    100%{ 
	border-top:2px solid #25F3CD;
	border-right:2px solid #25F3CD;
	border-left:2px solid #FFB323;
	border-bottom:2px solid #FFB323;
	}
}

@keyframes border-spin2 {
    0%{ 
	border-top:2px solid #25F3CD;
	border-right:2px solid #FFB323;
	border-left:2px solid #FFB323;
	border-bottom:2px solid #FFB323;	
	}

    25%{ 
	border-top:2px solid #FFB323;
	border-right:2px solid #25F3CD;
	border-left:2px solid #FFB323;
	border-bottom:2px solid #FFB323;
	}

	50%{ 
	border-top:2px solid #FFB323;
	border-right:2px solid #FFB323;
	border-left:2px solid #FFB323;
	border-bottom:2px solid #25F3CD;
	}

    75%{ 
	border-top:2px solid #FFB323;
	border-right:2px solid #FFB323;
	border-left:2px solid #25F3CD;
	border-bottom:2px solid #FFB323;
	}
	100%{ 
		border-top:2px solid #25F3CD;
		border-right:2px solid #FFB323;
		border-left:2px solid #FFB323;
		border-bottom:2px solid #FFB323;	
		}
}

@keyframes border-spin-lite {
    0%{ 
	border-top:2px solid #25F3CD;
	border-bottom:2px solid #25F3CD;

	}
    50%{ 
	border-left:2px solid #FFB323;
	border-right:2px solid #FFB323;

	}
    75%{ 
	border-top:2px solid #FFB323;
	border-bottom:2px solid #FFB323;
	}
	100%{
		border-left:2px solid #25F3CD;
		border-right:2px solid #25F3CD;

	}
}


@keyframes pulse-svg{
	0%{
		background: url("./images/social/blitzed.svg") no-repeat center;
				background-color: #25F3CD;
	}

	50%{
		background: url("./images/social/blitzed.svg") no-repeat center;
		background-color: #FFB323;
	}
	
	100%{
		background: url("./images/social/blitzed.svg") no-repeat center;
		background-color: #25F3CD;
	}
}

.pulseSVG:hover{
	animation: 5s pulse-svg infinite;
}

.borderSpin:hover{
	animation: 1s border-spin infinite;
}



.borderSpinActive:focus{
	animation: 1s border-spin infinite;
}

.borderSpin2:hover{
	animation: 1s border-spin2 infinite;
}

.borderSpinLite:hover{
	animation: 1s border-spin-lite infinite;
}

.boxer-move{
	animation: 5s boxer infinite;
}

.rotating-left:hover{
	animation: 5s rotateLeft infinite;
}

/* special style classes */

.progress {cursor: progress;}

.shadow {
  box-shadow: 1px 1px 2px 0px #25F3CD;
}






















/* contact page styling */

.contactCard{
	display:flex;
	flex-direction:row wrap;

	justify-content:space-evenly;
	margin-bottom:10px;
	background:white;
	padding:10px;
}

.contactImg>img{
	display:block;
	width:100%;
	
	/* set items at 0 baseline and allow to grow */
	flex:3 1 0px;
	
	/* background: rgb(228,228,228);
	background: linear-gradient(45deg, rgba(228,228,228,1) 0%, rgba(255,255,255,1) 55%, rgba(228,228,228,1) 100%);
	*/
	
}


/*
.contactCard{
	display:flex wrap;
	text-align: center;
 	justify-content: space-evenly;
	align-items: flex-start ;
		margin-bottom:10px;

		
	}

	.contactImgWrap{
		padding:10px;	
		display: flex column wrap;	
		background: white;
		max-width:auto;
		flex:1;
		height:auto;



	}

	.contactImgWrap>img{
		margin:0 auto;
		height:auto;
		width:1/3;
	}

	*/

	.contactImg:nth-child(2){
		opacity:.66;
	}

	.contactImg:nth-child(3){
		opacity:.33;
	}

	#contactName{
			color:white;
			font-family:Inconsolata, arial;
			font-size:2.25em;
			font-weight:1000;
		
		
			text-transform:uppercase;
		
			justify-content:center;
			align-content:center;
			
			-webkit-text-stroke-width: 2px;
			-webkit-text-stroke-color: #FFB323;
			
		
	}

	#contactName span{
		letter-spacing: .5em;
			margin:0 auto;
		-webkit-text-stroke-width: 2px;
		-webkit-text-stroke-color: #25F3CD;		
	}


.contactInfoBox{
	display:flex row;
	text-align:center;
	padding:10px;
	background:white;
	margin-bottom:10px;

	animation:border-spin-active 2s infinite;

}

@keyframes border-spin-active{
	0%{ 
		
			border: 2px solid #25F3CD;
		}
		
		50%{ 
			border: 2px solid #FFB323;

		}
		100%{ 
			border: 2px solid #25F3CD;
		}

}




/* contact form styling for contact page */

.formMain{
	background:white;
	margin-bottom:10px;
}





	.formMain legend {
    background-color: #000;
    color: #fff;
	padding:10px;
	margin:10px;
	text-align:center;
	font-family:Inconsolata, arial;
	text-transform: uppercase;

	}

	.aoi, .aoi legend{
	font-family:Inconsolata, arial;
	text-align:left;
	padding:10px;
	margin:10px;



	}

	.yourInfo, .yourInfo legend{
	text-align:left;
	font-family:Inconsolata, arial;
	padding:10px;
	margin:10px;
	}

	.output {
	font-family:impact;
	color:red;
	}




/*formWrap = contact form wrap - contact form is found on contact page obv */

	.formWrap{
	display:flex;
	flex-direction: column wrap;
	justify-content: space-evenly;
	background:white;
	margin-bottom:10px;
	}

	input[type=text], select, textarea {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 2px solid black;
	box-sizing: border-box;
	overflow:hidden;
	} 

	 textarea:focus{
		 outline:none;
	 }
	


	input:focus{
	outline:none;
	}

  /* submit button */
	input[type=submit] {
	width: 100%;
	height:relative;
	background-color: black;
	color: white;
	padding: 10px 0;
	margin: 0 auto;
	border: none;
	cursor: pointer;
	font-size:1em;
	font-family:Inconsolata, arial;
	font-weight:500;
	letter-spacing:2px;
	text-transform: uppercase;
	margin-bottom:0;
	border:2px solid black;
	}
  
	input[type=submit]:hover {
	background-color: white;
	color:black;
	}

	label{
	font-family:Montserrat, arial;
	font-size:1em;
	padding-left:10px;
	}

	input::placeholder, textarea::placeholder{
	font-family:Inconsolata, arial;
	  font-size:1em;
	  color:#999;
}

.contactMain{
	display:flex;
}
















/* swap attributes for responsive use */
/* mobile */

@media screen and (max-width: 600px){
	.hidden{display:none;}
	html, body{height:100%; 	background-color: #25F3CD;}
	body{margin:0;}
	
	.mainWrapper > * {
		display:flex;
		flex-flow:row wrap;
		text-align:center;
		box-sizing:border-box;
		flex:1 1 100%;
		border-radius:0px;
		align-items:center;
		justify-content:center;
	}
	


	
	.article:nth-child(2){
		
		
		order:1;
	}
	
	.article:nth-child(3){
		order:2;
	}
	
	.article:nth-child(4){
		order:3;
	}
	
	.copyright{
		border-left:0px;
	}
		
	.articles{
		display:flex;
		flex-direction:column;
		justify-content:space-evenly;	
	}



}

/* b spinner */ /* now resides in copyright */

.spinnerSquare{
	height:100%;
	width:auto;


	display:flex;
	align-items: center;
	justify-content: center;
	text-align:center;
}

.copyrightTextBlock{
	
	display:flex;
	align-items: center;
	justify-content: center;
	text-align:center;

	margin:10px;
}

.spinnerWrapOuter{
	border:2px outset black;
	border-radius:100%;
	padding:10px;
	margin:5px;

	
		
}

.spinnerWrapInner{
		height:inherit;
		width: inherit;
		border:2px solid #25F3CD;
		border-radius:100%;
		margin:5px;
		margin:5px;
		display:flex;
		align-items: center;
		justify-content: center;
		text-align:center;}

.spinnerWrapInnerSVG{
		height:50px;
		width: 50px;
		border-radius:100%;
		background: url("./images/social/blitzed.svg") no-repeat center;
		background-color:white;
		align-items: center;
		justify-content: center;
		text-align:center;
}

@keyframes rotate-left{
		0%{
			transform:rotate(0deg);
		}

		50%{
			transform:rotate(180deg);
		}

		100%{
			transform:rotate(360deg);
		}
}

@keyframes rotate-right{
		0%{
			transform:rotate(0deg);
		}

		50%{
			transform:rotate(-360deg);
		}

		100%{
			transform:rotate(-720deg);
		}
}

.rotateRight{
		animation: rotate-right 2.5s infinite;
}

.rotateLeft{
	animation: rotate-left 5s infinite;
}









/* gallery styling */



.galleryWrapper{
	height:100%;
	margin-bottom:10px;
}

.galleryRow{

	display:flex;
	flex-direction:row;

}

.galleryItem{
	padding:10px;
	background:white;
	border:2px solid white;

}

/* if you put border on image instead of li item, itll f your s up when you scale down to narrow screen */
.galleryItem>img{
	
	max-width:100%;
}


/* map */

.mapWrap{
	margin:10px;
	max-height:100%;
	max-width: 100%;
}




/* dark mode and other toggles */

.dark-mode{
	color:white;
	background:black;
}