/*main articles*/
.articles{
	display:flex;
	flex-direction:row;
	justify-content:space-evenly;
	margin-bottom:10px;
	background:#000;
}

.article{
	padding:10px;
	margin:10px;
	display:block;
	border:2px outset white;
	position:relative;
	
	/* set items at 0 baseline and allow to grow */
	flex: 1 1 0px;
	
	background: rgb(228,228,228);
	background: linear-gradient(45deg, rgba(228,228,228,1) 0%, rgba(255,255,255,1) 55%, rgba(228,228,228,1) 100%);
}

.article:hover{
	border:2px outset lightgrey;
}

/*other article components*/
.article>img{
	max-width:100%;
	border:inset lightgrey 2px;
	}

.article>img:hover{
	border:2px outset lightgrey;
}

.article>h2{
	font-size:clamp(1rem, 1.5rem, 2rem);
	text-align:left;
	margin-left:10px;
	margin-bottom:0;
	align-content:center;
	justify-content:center;
	text-transform: uppercase;
}

.article>p{
	text-align:left;
	margin-bottom:clamp(5%, 15%, 25%);
	max-height:relative;
	padding-bottom:25px;
	padding-right:10px;
	padding-left:10px;
}

/* skip nth-child 1 = hidden section heading is #1 child*/
.article:nth-child(2), .article:nth-child(2)>img{
	order:1;
	border-right:2px solid rgba(176, 176, 176,1);
	border-radius:10px 0px 0px 10px;
}

.article:nth-child(3), .article:nth-child(3)>img{
	order:2;
	border-left:2px solid rgba(176, 176, 176,1);
	border-right:2px solid rgba(176, 176, 176,1);
}

.article:nth-child(4), .article:nth-child(4)>img{
	order:3;
	border-left:2px solid rgba(176, 176, 176,1);
	border-radius:0px 10px 10px 0px;
}

.contactReadMore>a{
	font-family:montserrat, arial;
	text-decoration:none;
	color:black;
	font-weight:700;
	text-transform:uppercase;
	background-color:white;
	padding:5px;
	margin-top:10px;




}

.contactReadMore{
	list-style:none; 
	text-align:center;
	height:auto;
	margin:10px;
	width:100%;


}